{
    order trojan before file_server
    servers :443 {
        listener_wrappers {
            trojan
        }
    }
    trojan {
        caddy
        no_proxy
        users "your pwd1" "your pwd2"
    }
}
:443, example.com {
    tls your@email.com #optional,recommended
    trojan {
        connect_method
        websocket
    }
    file_server {
        root /var/www/html
    }
}